# Python virtual env
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor
.vscode/
.idea/

# Spark checkpoint data
checkpoint/

# Raw data / crawl outputs
scripts/crawl/data/raw/

# Jars / libs
jars/

# Monitoring
jmx_exporter/

# Logs
*.log


#  data caw
data/
